.Container {
  display: flex;
  flex-direction: row;
}

.shadow {
  width: 105vw;
  height: 105vh;

  position: absolute;

  background-color: #00000056;
  z-index: 99999999999999;

  margin-top: -2rem;
}

@media (max-width: 768px) {
  .shadow {
    margin-top: 0;
    height: 110vh;
  }
}

.loadingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999999999999;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ContainerLeft {
  height: 100vh;
  width: 70vw;

  position: fixed;
  top: 0;
  left: 0;

  background-color: #00000077;

  z-index: 99999;

  animation: fadeIn 2s ease-in;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.ContainerRight {
  height: 100vh;
  width: 30vw;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99999;
  overflow-y: auto;

  padding-bottom: 3rem;
  box-shadow: -10px 0 15px -5px rgba(0, 0, 0, 0.281);

  animation: slideInFromRight 1s ease-out forwards;
}

.header {
  width: 100%;
  height: 70px;
  padding-top: 1rem;

  display: flex;
  flex-direction: row;

  align-items: center;
}

.back {
  margin-left: 3rem;
  margin-right: 1.5rem;

  height: 1.6rem;

  cursor: pointer;
}

.titleHeader {
  font-size: 20px;
  font-weight: 700;
  font-family: "Syne", sans-serif;

  color: #383838;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  justify-content: space-between;
}

.perfilHead {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1.5rem;

  width: 80%;

  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 3.2rem;
}

.icon {
  border-radius: 10rem;
  padding: 8px;
  border: 2px dashed #08d40a;
}

.perfilIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #08d40b5e;
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
}

.iconLet {
  font-size: 24px;
  font-weight: 700;
  font-family: "Syne", sans-serif;

  color: #08d40a;
}

.name {
  font-size: 18px;
  font-weight: 700;
  font-family: "Syne", sans-serif;

  color: #08d40a;

  max-width: 20rem;
}

.fields {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.buttons {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.data {
  width: 75%;
  padding-left: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  border-radius: 15px;
  border: solid 1px;
  border-color: #4040492d;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #cdcdcd;

  outline: none;
}

.dataLink {
  width: 75%;
  background-color: #ffffff;

  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #08d40a;

  outline: none;
}

.cancel {
  color: red;
  text-decoration: underline;

  font-size: 14px;
  font-weight: 600;
  font-family: "Syne", sans-serif;

  width: 80%;
}

.Button {
  color: #08d40a;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 700;
  width: 80%;
  height: 3rem;
  border-radius: 15px;
  background-color: #ffffff;
  border: 1px solid #08d40a;
  cursor: pointer;

  margin-top: 1.5rem;

  transition: background-color 0.9s ease;

  &:hover {
    background-color: #0de011;
    color: #fff;
  }
}

.outButton {
  color: #e20000;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 700;
  width: 80%;
  height: 3rem;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 66px;
  border: 1px solid #e20000;
  cursor: pointer;

  margin-top: 1rem;

  transition: background-color 0.9s ease;

  &:hover {
    background-color: #e20000;
    color: #fff;
  }
}

.scroll-lock {
  overflow: hidden !important;
}

/* Estilos para dispositivos móveis */
@media (max-width: 767px) {
  .ContainerLeft {
    display: none; /* Oculta ContainerLeft em dispositivos móveis */
  }

  .buttons {
    margin-bottom: 4rem;
  }

  .header {
    height: 100px;
  }

  .perfilIcon {
    height: 4rem;
    width: 4rem;
  }

  .name {
    font-size: 16px;
    max-width: 12rem;
  }

  .titleHeader {
    // padding-top: 20px;
    // padding-bottom: 20px;
  }

  .cancel {
    margin-bottom: 3rem;
  }

  .outButton {
    margin-bottom: 3rem;
  }

  .ContainerRight {
    width: 100vw;
    height: 100%; /* Ocupa a tela inteira em dispositivos móveis */
  }
}
