.cliente {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/mulher.png");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  z-index: -1;
}

.image-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 99, 2, 0.596);
  z-index: -1;
}

.container__cliente {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 6rem;
  padding-bottom: 6rem;
}

.caixa__branca {
  width: 40%;
  padding: 2rem 3rem;
  background: #ffffff;
  border: 8px solid #ffffff;
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.caixa__branca::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  border: 1.5px dashed #08d40a;
  border-radius: 1.7rem;
  pointer-events: none;
}

.container__cliente h2 {
  font-family: "Syne", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;

  max-width: 45%;

  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.container__cliente h1 {
  font-family: "Syne", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;

  color: #08d40a;
}

.container__cliente p {
  font-family: "Syne", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;

  color: #939393;
}

.container__cliente h3 {
  font-family: "Syne", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;

  color: #ffffff;
  margin-top: 39px;

  max-width: 50%;
}

.botao__cliente {
  padding: 1.2rem 5rem;
  margin-top: 3rem;

  color: #ffffff;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 700;

  border: 1px solid #08d40a;
  border-radius: 20px;

  box-shadow: 0px 0px 15px #ffffff36;

  background-color: #08d40a;

  transition: background-color 0.9s ease;

  cursor: pointer;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(8, 212, 10, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(8, 212, 10, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(8, 212, 10, 0);
  }
}

@media (max-width: 768px) {
  #cliente {
    width: 100%;
  }

  .image-wrapper {
    background-image: url("/mulherMobile.png");
  }

  .container__cliente {
    padding-left: 2rem;
    padding-right: 2rem;

    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .caixa__branca {
    width: 75%;

    padding: 1rem 2rem;

    border: 4px solid #ffffff;
  }

  .container__cliente h1 {
    font-size: 24px;
  }

  .container__cliente h2 {
    font-size: 24px;
    max-width: 90%;
  }

  .container__cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  }

  .container__cliente h3 {
    font-size: 16px;
    max-width: 100%;
  }

  .botao__cliente {
    font-size: 12px;
    padding: 0.8rem 2.5rem;

    border-radius: 15px;
  }

  .content-block-caixa h1 {
    padding-top: 0.5rem;
  }

  .content-block-caixa p {
    padding-bottom: 0.5rem;
    font-size: 14px;
  }
}
