/* Estilo Footer*/
a {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

a {
  color: #ffffff;
}

.container-Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #000000;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  bottom: 0;
}

.content-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-inline: auto;

  padding-left: 15rem;
  padding-right: 15rem;

  padding-top: 6rem;
  padding-bottom: 8rem;
}

@media screen and (min-width: 2100px) {
  .content-footer {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

@media (max-width: 1440px) {
  .content-footer {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .content-footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.Logo-Footer {
  display: flex;
  flex-direction: column;

  margin-top: -11rem;
}

.logo-Escura {
  height: 4rem;
  object-fit: contain;
  margin-bottom: 2rem;

  margin-left: -3rem;
  margin-top: 1.5rem;
}

.Slogan {
  font-family: "Syne", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;

  color: #939393;

  max-width: 60%;
}

.Contato-Footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logo-footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  @media only screen and (max-width: 768px) {
    justify-content: center;
  }
}

.Contato-Footer h2 {
  height: 38px;
  font-family: "Syne", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #08d40a;

  margin-top: -1.3rem;
  margin-bottom: 2rem;
  margin-left: -1.1rem;
}

.listaContato-Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 446px;
  height: 161;

  @media only screen and (max-width: 768px) {
    width: 100%;
    align-items: flex-start;
  }
}

.Contato-Footer h3 {
  width: 446px;
  font-family: "Syne", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;

  color: #939393;

  &:hover {
    color: #ffffff;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.listaContato-Footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13px;
  text-align: start;
}

.Icon-Footer {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.Icon-Footer-duvidas {
  // margin-left: 26px;
  margin-right: 16px;
}

@media (max-width: 768px) {
  .content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    margin: 0;
    padding-bottom: 6rem;
    padding: 0rem 2rem;
    margin-top: 25px;
  }

  .container-Footer {
    max-width: 100vw;
  }

  .logo-Escura {
    margin-left: 0;
  }

  .Logo-Footer {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin-top: 0;
  }

  .Slogan {
    max-width: 90%;
  }

  .Contato-Footer {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;

    margin-bottom: 8rem;
  }

  .Contato-Footer h3 {
    font-size: 14px;
  }

  .Contato-Footer h2 {
    font-size: 27px;
    margin: 30px 0px;
  }

  .Slogan {
    font-size: 20px;
    text-align: center;

    margin-bottom: 2rem;
  }

  .listaContato-Footer {
    width: 100%;
  }
}
