/* Estilo Header*/

.container-header {
  position: fixed;
  top: 0;
  background: #ffffff;
  box-shadow: 0px 6px 4px 2px rgba(0, 0, 0, 0.123);
  z-index: 9999;
  height: 70px;
  width: 100%;

  padding-top: 1rem;
  padding-bottom: 0.6rem;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.shadow {
  width: 105vw;
  height: 105vh;

  position: absolute;

  background-color: #00000056;
  z-index: 99999999999999;

  margin-top: -2rem;
}

@media (max-width: 768px) {
  .shadow {
    margin-top: 0;
    height: 110vh;
  }
}

.loadingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999999999999;
}

.nav-items-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.content-header-desktop {
  justify-content: space-between;
  align-items: center;
  display: flex;
  // max-width: 1300px;
  margin-inline: auto;
  // padding-inline: 3rem;
  padding-top: 5px;

  padding-left: 15rem;
  padding-right: 15rem;
}

@media screen and (min-width: 2100px) {
  .content-header-desktop {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

@media (max-width: 1440px) {
  .content-header-desktop {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .content-header-desktop {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.header {
  margin-inline: auto;
  // max-width: 1300px;
  // padding-inline: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-benefit {
  height: 45px;
  object-fit: contain;
}

.links-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.links-header a {
  font-family: "Syne", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  line-height: 23px;
  color: #000000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #08d40a;
  }
}

.Login {
  border: 1px solid #08d40a;
  background-color: #fff;
  border-radius: 15px;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #08d40a;
  padding: 0.7rem 2.5rem;

  transition: background-color 0.9s ease;

  &:hover {
    background-color: #08d40a;
    color: #fff;
  }
}

@media (max-width: 768px) {
  #itemsDrawer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    padding-left: 60px;
  }

  #item {
    text-align: left;
    padding-left: 30px;
    color: #939393;
  }

  .Login {
    width: 220px;
    height: 65px;
    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
  }
}

.nav-items-desktop {
  #item {
    color: #404049;
    font-size: 18px;
    font-family: "Syne", sans-serif;

    &:hover {
      color: #08d40a;
      cursor: pointer;
    }
  }
}
